.about {
  margin: 0 auto;
  padding: 27px 30px 30px;
  max-width: 500px;
}

.about__title {
  @include heading(25px);

  margin: 0 0 30px;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  padding-top: 56px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $text-dark;

  &:not(:last-child) {
    margin-bottom: 27px;
  }
}

.about__item--flower {
  background-image: url("../img/icon-feature-flower.svg");
  background-repeat: no-repeat;
  background-position: 8px 2px;
}

.about__item--money {
  background-image: url("../img/icon-feature-money.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.about__item--heart {
  background-image: url("../img/icon-feature-heart.svg");
  background-repeat: no-repeat;
  background-position: 8px 7px;
}

.about__item--ball {
  background-image: url("../img/icon-feature-ball.svg");
  background-repeat: no-repeat;
  background-position: 4px 5px;
}

.about__item--rocket {
  background-image: url("../img/icon-feature-rocket.svg");
  background-repeat: no-repeat;
  background-position: 0 6px;
}

.about__item--gift {
  background-image: url("../img/icon-feature-gift.svg");
  background-repeat: no-repeat;
  background-position: 3px 4px;
}
