.catalog {
  overflow: hidden;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -20px;
  padding: 30px;
  list-style: none;
}

.catalog__item {
  margin: 0 20px;
  max-width: 260px;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: $screen-tablet) {
  .catalog {
    justify-content: flex-start;
    padding: 70px 6.51% 0;
    margin-bottom: 53px;
  }

  .catalog__list {
    margin: 0;
    padding: 0;
  }

  .catalog__item {
    max-width: none;
    width: 100%;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }
}

@media (min-width: $screen-desktop) {
  $cardNumber: 3;
  $cardGap: 50px;

  .catalog {
    padding: 113px 50px 0;
    margin-bottom: 0;
  }

  .catalog__list {
    margin-right: -0.1px;
    justify-content: flex-start;
  }

  .catalog__item {
    margin-right: $cardGap;

    &:nth-child(#{$cardNumber}n) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 57px;
    }

    &:last-child {
      margin-bottom: 57px;
    }

    display: flex;
    width: calc((100% - (#{$cardNumber} - 1) * #{$cardGap}) / #{$cardNumber});
  }
}
