.main-navigation__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
}

.main-navigation__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__toggle-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle-icon::before {
  position: absolute;
  transform: translateY(-6px);
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle-icon::after {
  position: absolute;
  transform: translateY(6px);
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle--active {
  .main-navigation__toggle-icon {
    width: 28px;
    background-color: transparent;

    &::before {
      width: 28px;
      transform: rotate(-45deg);
    }

    &::after {
      width: 28px;
      transform: rotate(45deg);
    }
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.main-navigation__list--show {
  display: block;
}

.main-navigation__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 30px;
  border-bottom: 1px solid $border-light;
}

.main-navigation__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 22px 10px 22px 45px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $text-dark;

  &[href]:hover {
    color: rgba(0, 0, 0, 0.6);

    .main-navigation__icon {
      fill: $page-green;
      opacity: 1;
    }
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);

    .main-navigation__icon {
      fill: $page-green;
      opacity: 0.3;
    }
  }
}

.main-navigation__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.2;
}

@media (min-width: 425px) {
  .main-navigation__link {
    margin: 0 auto;
    width: auto;
    padding-left: 45px;
  }
}

@media (min-width: $screen-tablet) {
  .main-navigation {
    display: flex;
    padding: 0 50px;
    border-bottom: 1px solid $border-light;
  }

  .main-navigation__box {
    padding: 5px 0 0;
    height: 88px;
    flex-shrink: 0;
    border-bottom: none;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    margin-left: auto;
  }

  .main-navigation__item {
    padding: 0;
    border-bottom: none;
    border-left: 1px solid $border-light;

    &:nth-child(1) {
      display: none;
    }

    &:nth-child(2) {
      display: none;
    }
  }

  .main-navigation__link {
    padding: 30px 20px;
  }

  .main-navigation__link--search {
    font-size: 0;
    padding: 30px 40px;

    .main-navigation__icon {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main-navigation__link--cart {
    margin-left: 32px;
    padding: 30px 0 30px 52px;
  }
}

@media (min-width: $screen-desktop) {
  .main-navigation {
    position: relative;
  }

  .main-navigation__box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-navigation__list {
    width: 100%;
    margin-left: 0;
  }

  .main-navigation__item {
    &:nth-child(1) {
      display: block;
      margin-left: -35px;
      border-left: none;
      border-right: 1px solid $border-light;
    }

    &:nth-child(2) {
      display: block;
      margin-right: auto;
      border-left: none;
    }
  }

  .main-navigation__link {
    padding: 32px 35px;
  }

  .main-navigation__link--search {
    padding: 30px 41px;
  }

  .main-navigation__link--cart {
    margin-right: -33px;
    padding-left: 51px;
  }
}
