.main-navigation__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  border-top: 1px solid $border-light;
  border-bottom: 1px solid $border-light;
}

.main-navigation__toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation__toggle-icon {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle-icon::before {
  position: absolute;
  transform: translateY(-6px);
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle-icon::after {
  position: absolute;
  transform: translateY(6px);
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background-color: $menu-toggle;
}

.main-navigation__toggle--active {
  .main-navigation__toggle-icon {
    width: 28px;
    background-color: transparent;

    &::before {
      width: 28px;
      transform: rotate(-45deg);
    }

    &::after {
      width: 28px;
      transform: rotate(45deg);
    }
  }
}

.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.main-navigation__list--show {
  display: block;
}

.main-navigation__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation__sublist--links {
  .main-navigation__subitem {
    &:nth-child(3) {
      display: none;
    }

    &:nth-child(4) {
      display: none;
    }
  }
}

.main-navigation__subitem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 30px;
  border-bottom: 1px solid $border-light;
}

.main-navigation__link {
  position: relative;
  display: block;
  width: 100%;
  padding: 22px 10px 22px 45px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $text-dark;

  &[href]:hover {
    color: rgba(0, 0, 0, 0.6);

    .main-navigation__icon {
      fill: $page-green;
      opacity: 1;
    }
  }

  &[href]:active {
    color: rgba(0, 0, 0, 0.3);

    .main-navigation__icon {
      fill: $page-green;
      opacity: 0.3;
    }
  }
}

.main-navigation__icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0.2;
  transition-duration: 0.15s;
}

@media (min-width: 425px) {
  .main-navigation__link {
    margin: 0 auto;
    width: auto;
    padding-left: 45px;
  }
}

@media (min-width: $screen-tablet) {
  .main-navigation {
    display: flex;
    padding: 0 50px;
  }

  .main-navigation__box {
    margin-right: -112px;
    padding: 6px 0 0;
    height: 88px;
    flex-shrink: 0;
    border: none;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main-navigation__sublist {
    display: flex;
    height: 100%;
  }

  .main-navigation__sublist--links {
    position: relative;
    top: 73px;
    flex-wrap: wrap;
    flex-grow: 1;

    .main-navigation__subitem {
      border-left: none;

      &:first-child {
        margin-right: 37px;
      }
    }
  }

  .main-navigation__link {
    padding: 17px 0;
    font-size: 15px;
    line-height: 24px;
  }

  .main-navigation__subitem {
    padding: 0;
    border-bottom: none;
    border-left: 1px solid $border-light;
  }

  .main-navigation__link--search {
    font-size: 0;
    padding: 30px 40px;

    .main-navigation__icon {
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .main-navigation__link--cart {
    padding: 30px 0 30px 84px;
    font-size: 17px;

    .main-navigation__icon {
      left: 32px;
    }
  }
}

@media (min-width: $screen-desktop) {
  .main-navigation {
    position: relative;
  }

  .main-navigation__box {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-navigation__list {
    width: 100%;
    margin-left: 0;
  }

  .main-navigation__sublist--links {
    position: static;
    flex-wrap: wrap;
    max-width: 420px;
    margin-bottom: -88px;

    .main-navigation__subitem {
      &:first-child {
        margin-left: -35px;
        margin-right: 0;
        border-right: 1px solid $border-light;
      }

      &:nth-child(3) {
        display: block;
        margin-right: 62px;
      }

      &:nth-child(4) {
        display: block;
      }
    }
  }

  .main-navigation__link {
    font-size: 17px;
    padding: 32px 35px;
  }

  .main-navigation__link--small {
    padding: 17px 0;
    font-size: 15px;
  }

  .main-navigation__link--search {
    font-size: 0;
    padding: 30px 41px;
  }

  .main-navigation__link--cart {
    margin-right: -33px;
    padding-left: 83px;
  }
}
