.page-footer {
  padding: 15px 30px 22px;
  background-color: $gray-bg;
}

.page-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 18px;
  padding: 0 0 14px;
  list-style: none;
  border-bottom: 1px solid $border-dark;
}

.page-footer__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
