.popular {
  padding: 27px 30px 42px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 290px 6px;
}

.popular__title {
  @include heading(25px);

  margin: 0 0 5px;
}

.popular__tag {
  display: block;
  margin-bottom: 23px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: $page-green;
}

.popular__description {
  margin: 0 0 18px;
  font-size: 15px;
  line-height: 24px;
  color: $text;
}

.popular__stats {
  margin: 0 0 28px;
  font-size: 15px;
  line-height: 20px;
  color: $text;
}

.popular__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  min-height: 40px;
  max-width: 400px;
  border-bottom: 1px solid $border-light;
}

.popular__field {
  min-width: 100px;
}

.popular__value {
  margin: 0;
}

.popular__image {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 315px;
  background-color: $gray-bg;
}

.popular__price {
  display: block;
  margin: 25px 0;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: $text;
}

.popular__button {
  margin: 0 auto;
  max-width: 260px;
}

@media (min-width: 321px) {
  .popular {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: $screen-tablet) {
  .popular {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    padding: 47px 50px 70px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
  }

  .popular__title {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
    flex-grow: 1;
  }

  .popular__tag {
    margin-bottom: 0;
    padding: 12px 10px;
    width: 123px;
    text-align: center;
    line-height: 17px;
    flex-grow: 0;
  }

  .popular__description {
    width: 44%;
    margin-bottom: 35px;
    margin-right: 50%;
    font-size: 17px;
    line-height: 30px;
  }

  .popular__stats {
    width: 291px;
    margin-right: 50%;
    margin-bottom: 57px;
  }

  .popular__image {
    position: absolute;
    top: 154px;
    right: 51px;
    z-index: -2;
    width: 333px;
    height: 404px;
  }

  .popular__price {
    margin: 0 60% 34px 71px;
    font-size: 20px;
    line-height: 24px;
  }

  .popular__button {
    margin: 0 50% 0 0;
    max-width: none;
    width: 290px;
  }
}

@media (min-width: $screen-desktop) {
  .popular {
    padding: 125px 50px 95px 225px;
  }

  .popular__title {
    margin-left: -5px;
    font-size: 53px;
    line-height: 57px;
  }

  .popular__tag {
    position: absolute;
    top: 129px;
    left: 71px;
  }

  .popular__description {
    margin-bottom: 47px;
    width: 34%;
  }

  .popular__stats {
    margin-bottom: 111px;
  }

  .popular__image {
    top: 73px;
    width: 525px;
    height: 636px;
  }
}
