.radiobutton {
  display: flex;
  align-items: flex-start;
  margin: 0;
  min-height: 40px;
}

.radiobutton__label {
  position: relative;
  display: block;
  padding: 9px 0 0 62px;
  min-height: 40px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $text-dark;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 40px;
    height: 40px;
    border: 2px solid $text-dark;
    border-radius: 50%;
    transition-duration: 0.15s;
  }

  &::after {
    position: absolute;
    top: 12px;
    left: 12px;
    content: "";
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
  }

  &:hover {
    cursor: pointer;

    &::before {
      border-color: $page-green;
    }
  }

  &:active {
    &::before {
      border-color: $placeholder;
    }
  }
}

.radiobutton__input:checked + .radiobutton__label::after {
  background-color: $page-green;
}

.radiobutton__input:focus + .radiobutton__label {
  &::before {
    border-color: $page-green;
  }
}

.radiobutton__input:disabled + .radiobutton__label {
  color: rgba(0, 0, 0, 0.3);

  &::before {
    border-color: rgba(0, 0, 0, 0.3);
  }

  &:hover {
    cursor: auto;
  }
}

@media (min-width: $screen-tablet) {
  .radiobutton__label {
    min-height: 52px;
    padding: 15px 0 0 81px;
    font-size: 19px;

    &::before {
      width: 52px;
      height: 52px;
    }

    &::after {
      top: 15px;
      left: 15px;
      width: 22px;
      height: 22px;
    }
  }
}
