.reviews {
  padding: 25px 30px 51px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 290px 6px;
}

.reviews__title {
  @include heading(25px);

  margin: 0 0 25px;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__item {
  margin: 0 0 27px;
}

.reviews__toggle {
  display: inline-block;
  vertical-align: middle;
  min-width: 50%;
  min-height: 52px;
  margin-bottom: 38px;
  padding: 0;
  background-color: transparent;
  border: 1px solid $border-light;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__toggle--prev {
  background: url("../img/left-arrow-icon.svg") no-repeat center;
}

.reviews__toggle--next {
  background: url("../img/right-arrow-icon.svg") no-repeat center;
  margin-left: -5px;
}

.reviews__button {
  margin: 0 auto;
  max-width: 260px;
}

@media (min-width: 321px) {
  .reviews {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (min-width: $screen-tablet) {
  .reviews {
    position: relative;
    min-height: 500px;
    padding: 77px 50px 100px;
    background-image: url("../img/review@1x.jpg"), url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat, repeat-x;
    background-size: 350px 457px, 100%;
    background-position: left top, center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg"), url("../img/bg-zigzag-line.svg");
    }
  }

  .reviews__title {
    margin-left: -5px;
    margin-bottom: 50px;
    padding-right: 30%;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__wrapper {
    position: absolute;
    right: 50px;
    bottom: 133px;
    width: 175px;
  }

  .reviews__toggle {
    border: none;
    margin-bottom: 0;
  }

  .reviews__button {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 175px;
  }
}

@media (min-width: $screen-desktop) {
  .reviews {
    padding: 70px 130px 155px 225px;
    background-position: 50px top, center bottom;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__wrapper {
    bottom: 188px;
  }
}
