.social {
  display: block;
  padding: 10px;

  &:hover {
    .social__icon {
      fill: $page-darkgreen-hover;
    }
  }

  &:active {
    .social__icon {
      opacity: 0.3;
    }
  }
}

.social__icon {
  fill: #231f20;
  transition-duration: 0.15s;
}
