.textarea__message {
  width: 100%;
  min-height: 142px;
  padding: 15px;
  font-size: 19px;
  color: $text;
  border: 2px solid $text-dark;
  resize: vertical;
  border-radius: 0;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $placeholder;
  }

  &:hover {
    border-color: $page-green;
  }

  &:focus {
    border-color: $page-green;
  }
}

@media (min-width: $screen-tablet) {
  .textarea__message {
    &::placeholder {
      font-size: 19px;
    }
  }
}
