.textfield {
  margin: 0;
}

.textfield__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $text-dark;
}

.textfield__box {
  position: relative;
}

.textfield__input {
  padding: 13px 0;
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  color: $text;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $text-dark;
  border-radius: 0;
  transition-duration: 0.15s;

  &::placeholder {
    font-size: 17px;
    line-height: 20px;
    color: $placeholder;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: $page-green;

    & + .textfield__icon {
      opacity: 1;
      fill: $page-green;
    }
  }
}

.textfield__icon {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0.2;
}

.textfield--phone {
  margin: 7px 0 31px;

  .textfield__label {
    margin-bottom: 6px;
  }

  .textfield__input {
    padding-right: 40px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .textfield__icon {
    right: 8px;
    width: 25px;
    height: 24px;
  }
}

.textfield--email {
  margin-bottom: 30px;

  .textfield__label {
    margin-bottom: 6px;
  }

  .textfield__input {
    padding-right: 40px;
  }

  .textfield__icon {
    right: 4px;
    width: 32px;
    height: 21px;
  }
}

@media (min-width: $screen-tablet) {
  .textfield {
    position: relative;
    display: flex;
    align-items: center;
  }

  .textfield__label {
    margin-right: 25px;
    font-size: 19px;
  }

  .textfield__box {
    width: 100%;
  }

  .textfield__input {
    padding: 13px 16px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .textfield--phone {
    position: relative;
    margin: 0 0 24px;

    .textfield__label {
      top: 50%;
      left: -166px;
      transform: translateY(-50%);
    }

    .textfield__input {
      padding-right: 60px;
    }

    .textfield__icon {
      right: 26px;
      width: 25px;
      height: 24px;
    }
  }

  .textfield--email {
    position: relative;
    margin-bottom: 0;

    .textfield__label {
      top: 50%;
      left: -166px;
      transform: translateY(-50%);
    }

    .textfield__input {
      padding-right: 60px;
    }

    .textfield__icon {
      right: 21px;
    }
  }
}

@media (min-width: $screen-desktop) {
  .textfield--phone {
    .textfield__label {
      left: -112px;
    }

    .textfield__icon {
      right: 8px;
    }
  }

  .textfield--email {
    .textfield__label {
      left: -113px;
    }

    .textfield__icon {
      right: 4px;
    }
  }
}
