.video {
  max-width: 260px;
  padding-bottom: 33px;
  border: 1px solid $border-light;
  transition-duration: 0.15s;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  margin: 0;
  padding: 24px 30px 24px 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $text-dark;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 33px center;
}

.video__box {
  position: relative;
  margin-bottom: 27px;
  min-height: 150px;
  background-color: $gray-bg;
}

.video__image {
  display: block;
  width: 260px;
  height: 150px;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: block;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.1s;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;
    transform: translate(-50%, -50%) scale(0.8);
  }
}

.video__description {
  margin: 0 0 25px;
  padding: 0 34px;
  font-size: 13px;
  line-height: 24px;
  color: $text;
}

.video__button {
  margin: 0 33px;
}

@media (min-width: $screen-tablet) {
  .video {
    display: flex;
    flex-direction: column;
    max-width: none;
    width: 668px;
    padding-bottom: 45px;
  }

  .video__title {
    font-size: 20px;
    margin-bottom: 7px;
    padding-left: 106px;
    background-position-x: 42px;
  }

  .video__box {
    order: -1;
    margin-bottom: 14px;
    border-bottom: 1px solid $border-light;
  }

  .video__image {
    width: 668px;
    height: 455px;
  }

  .video__description {
    margin-bottom: 36px;
    padding: 0 41px;
    font-size: 15px;
    line-height: 30px;
  }

  .video__button {
    margin: 0 41px;
  }
}

@media (min-width: $screen-desktop) {
  .video {
    position: relative;
    width: auto;
    min-height: 457px;
    padding: 40px 20px 45px 760px;
  }

  .video__box {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
  }

  .video__image {
    width: 682px;
    height: 455px;
  }

  .video__title {
    margin-bottom: 12px;
    padding: 55px 57px 20px 0;
    background-position: 0 0;
  }

  .video__description {
    margin-bottom: 47px;
    padding: 0 20px 0 0;
  }

  .video__button {
    width: 230px;
    margin: 0;
  }
}
