/* Sizes */

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1150px;
$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;

/* Colors */

$text: #444444;
$text-dark: #000000;
$text-light: #ffffff;

$page-green: #63d1bb;
$page-green-hover: #59d5bc;
$page-darkgreen: #56c3b2;
$page-darkgreen-hover: #46c1ae;
$gray-bg: #f1f1f1;
$page-header-bg: #fafafa;
$border-light: #ececec;
$border-dark: #e5e5e5;
$menu-toggle: #221f1f;
$placeholder: rgba(68, 68, 68, 0.3);
$input-error: #f05252;
